@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePag = "Listado de Base de Conocimiento";
}
<input type="hidden" id="UrlServicio" value="@System.Configuration.ConfigurationManager.AppSettings["UrlServicio"]" />
<input type="hidden" id="IdEmpleado" value="@System.Configuration.ConfigurationManager.AppSettings["IdEmpleado"]" />
<input type="hidden" id="IdRol" value="@System.Configuration.ConfigurationManager.AppSettings["IdRol"]" />
<script type="text/javascript">
    $(document).ready(function () {

        listarCategoria = function () {
            $.ajax({
                url: $("#UrlServicio").val() +"/api/TipoSolucion/ListadoCategoria",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        var options = "";
                        for (var i = 0; i < data.length; i++) {
							$("#SOL_CAT_ID").append("<option value=" + data[i].CAT_ID + ">" + data[i].CAT_Descripcion+"</option>");
                        }
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        listarCategoria();

        $("#SOL_Nombre").on("keyup",function () {
            $("#tblAccesorioDev").dataTable().api().ajax.reload();
        });
        $("#SOL_CAT_ID").on("change",function () {
            $("#tblAccesorioDev").dataTable().api().ajax.reload();
        });


		function llenarTablaAccesorio() {
			tblAccesorioDev = $("#tblAccesorioDev")
				.DataTable({
					"bLengthChange": false,
					"bFilter": false,
					"PaginationType": "full_numbers",
					"processing": true,
					"bServerSide": true,
					"sAjaxSource": $("#UrlServicio").val() + '/api/TipoSolucion/ListadoTipoSolucion',
					"select": true,
					"pageLength": 10,
					responsive: true,
					language: {
						"sProcessing": "Procesando...",
						"sLengthMenu": "Mostrar _MENU_ registros",
						"sZeroRecords": "No se encontraron resultados",
						"sEmptyTable": "Ningún dato disponible en esta tabla",
						"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
						"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
						"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
						"sInfoPostFix": "",
						"sSearch": "Buscar:",
						"sUrl": "",
						"sInfoThousands": ",",
						"sLoadingRecords": "Cargando...",
						"oPaginate": {
							"sFirst": "Primero",
							"sLast": "Último",
							"sNext": "Next",
							"sPrevious": "Prev"
						},
						"oAria": {
							"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
							"sSortDescending": ": Activar para ordenar la columna de manera descendente"
						}
					},
					"fnServerData": function (url, odata, callback) {
                        //debugger;
                        //console.log(odata);
                        //console.log(callback);
						entidad = {};
						var PageSize = 10;
						var PrimerRegistro = odata[3].value;;
						var CurrentPage = PrimerRegistro / PageSize;


						entidad.iPageSize = PageSize;
                        entidad.iCurrentPage = (CurrentPage>0)?CurrentPage + 1:0;
                        entidad.pvSortColumn = "SOL_ID";
                        entidad.pvSortOrder = "DESC";
                        entidad.SOL_Nombre = $("#SOL_Nombre").val();
                        entidad.SOL_CAT_ID = $("#SOL_CAT_ID").val();

						$.ajax({
							"url": url,
							"dataSrc": "",
							"data": entidad,
							"success":
								function (response) {
									if (response.length == 0) {
										callback({
											data: response,
											recordsTotal: 0,
											recordsFiltered: 0,

										})
									} else {
										callback({
											data: response,
											recordsTotal: response[0].iTotalRecords,
											recordsFiltered: response[0].iTotalRecords,

										})
									};
								
									$(".editar").click(function () {
										var id = $(this).attr("id");
										window.location.href = '/TipoSolucion/Editar/' + id;
									});

									$(".eliminar").click(function () {
										id = $(this).attr("id");
										
										$.confirm({
											title: 'Mensaje de confirmación!',
											content: '¿Estas seguro que deseas eliminar la base de conocimiento <b>Nro.' + id+'</b>?',
											buttons: {
												confirm: {
													text: "SI",
													btnClass: 'btn-blue',
													action: function () {
														$.ajax({
															url: $("#UrlServicio").val() + "/api/TipoSolucion/EliminarTipoSolucion",
															type: "POST",
															dataType: "json",
															data: { SOL_ID: id },
															success: function (data) {
																//window.location.href = '/TipoSolucion/Index';
																$("#tblAccesorioDev").dataTable().api().ajax.reload();
															},
															error: function (xhr, ajaxOptions, thrownError) {
																console.log(xhr.status);
																console.log(thrownError);
															}
														});
													}
												},
												cancel: {
													text: "NO",
													btnClass: 'btn-danger',
													action: function () {
														$("#tblAccesorioDev").dataTable().api().ajax.reload();
													}
												}
											}
										});
									});
								},
							//,
							"contentType": "application/x-www-form-urlencoded; charset=utf-8",
							"dataType": "json",
							"type": "POST",
							"cache": false,
							"error": function (resultado) {
								console.log(resultado);
								alert("DataTables warning: JSON data from server failed to load or be parsed. " +
									"This is most likely to be caused by a JSON formatting error.");
							},
						});
					},

					"aoColumns": [
						{ "title": "Nro.", "bSortable": false, bVisible: true, "data": "SOL_ID" },
						{ "title": "Nombre", "bSortable": false, bVisible: true, "data": "SOL_Nombre" },
						{ "title": "Categoría", "bSortable": false, bVisible: true, "data": "CAT_Descripcion" },
                        { "title": "Fecha de creacion", "bSortable": false, bVisible: true, "data": "SOL_FechaCreacion" },
                        { "title": "Acciones", "bSortable": false, bVisible: true, "data": "ltAcciones" }
					],
					"columnDefs": [

					]
				});
		}

		llenarTablaAccesorio();
    })
</script>

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<form role="form">
				<div class="box-body">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-sm-6" >
							<div class="form-group">
								<label for="Buscar">Buscar Por (Nro. ó Nombre)</label>
								<input type="text" class="form-control" id="SOL_Nombre" name="SOL_Nombre" placeholder="Buscar" autocomplete="off">
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-sm-6">
							<div class="form-group">
								<label for="">Categoría</label>
								<select class="form-control" id="SOL_CAT_ID" name="SOL_CAT_ID">
									<option value="">Todos</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<p><a href="@Url.Action("Nuevo", "TipoSolucion")" class="btn btn-primary btn-md">Nuevo&nbsp;<span class="glyphicon glyphicon-plus"></span></a></p>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
							<table id="tblAccesorioDev" class="table table-bordered" cellspacing="0" /></table>
                        </div>
                    </div>
                </div>
            </div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>


