@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TitlePag = "Listado de Técnicos";
}
<input type="hidden" id="UrlServicio" value="@System.Configuration.ConfigurationManager.AppSettings["UrlServicio"]" />
<input type="hidden" id="IdEmpleado" value="@System.Configuration.ConfigurationManager.AppSettings["IdEmpleado"]" />
<input type="hidden" id="IdRol" value="@System.Configuration.ConfigurationManager.AppSettings["IdRol"]" />
<script type="text/javascript">
    $(document).ready(function () {


        $("#RES_Nombre").on("keyup", function () {
            $("#tblGrilla").dataTable().api().ajax.reload();
        });
    
		function llenarTablaGrilla() {
            tblGrilla = $("#tblGrilla")
				.DataTable({
					"bLengthChange": false,
					"bFilter": false,
					"PaginationType": "full_numbers",
					"processing": true,
					"bServerSide": true,
                    "sAjaxSource": $("#UrlServicio").val() + '/api/Responsable/ListadoUsuarioResponsable',
					"select": true,
					"pageLength": 10,
					responsive: true,
					language: {
						"sProcessing": "Procesando...",
						"sLengthMenu": "Mostrar _MENU_ registros",
						"sZeroRecords": "No se encontraron resultados",
						"sEmptyTable": "Ningún dato disponible en esta tabla",
						"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
						"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
						"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
						"sInfoPostFix": "",
						"sSearch": "Buscar:",
						"sUrl": "",
						"sInfoThousands": ",",
						"sLoadingRecords": "Cargando...",
						"oPaginate": {
							"sFirst": "Primero",
							"sLast": "Último",
							"sNext": "Next",
							"sPrevious": "Prev"
						},
						"oAria": {
							"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
							"sSortDescending": ": Activar para ordenar la columna de manera descendente"
						}
					},
					"fnServerData": function (url, odata, callback) {
                        //debugger;
                        //console.log(odata);
                        //console.log(callback);
						entidad = {};
						var PageSize = 10;
						var PrimerRegistro = odata[3].value;;
						var CurrentPage = PrimerRegistro / PageSize;


						entidad.iPageSize = PageSize;
                        entidad.iCurrentPage = (CurrentPage>0)?CurrentPage + 1:0;
                        entidad.pvSortColumn = "RES_ID";
                        entidad.pvSortOrder = "DESC";

                        entidad.RES_Nombre = $("#RES_Nombre").val();

						$.ajax({
							"url": url,
							"dataSrc": "",
							"data": entidad,
							"success":
								function (response) {
									if (response.length == 0) {
										callback({
											data: response,
											recordsTotal: 0,
											recordsFiltered: 0,

										})
									} else {
										callback({
											data: response,
											recordsTotal: response[0].iTotalRecords,
											recordsFiltered: response[0].iTotalRecords,

										})
									};

									
									$(".editar").click(function () {
                                        var id = $(this).attr("id");
										window.location.href = '/Responsable/Editar/' + id;
									});

									$(".eliminar").click(function () {
										id = $(this).attr("id");
										
										$.confirm({
											title: 'Mensaje de confirmación!',
											content: "¿Estas seguro que deseas eliminar el técnico <b>Nro. "+id+"</b>?",
											buttons: {
												confirm: {
													text: "SI",
													btnClass: 'btn-blue',
													action: function () {
														$.ajax({
															url: $("#UrlServicio").val() + "/api/Responsable/EliminarUsuarioResponsable",
															type: "POST",
															dataType: "json",
															data: { RES_ID: id },
															success: function (data) {
																$("#tblGrilla").dataTable().api().ajax.reload();
															},
															error: function (xhr, ajaxOptions, thrownError) {
																console.log(xhr.status);
																console.log(thrownError);
															}
														});
													}
												},
												cancel: {
													text: "NO",
													btnClass: 'btn-danger',
													action: function () {
														$("#tblGrilla").dataTable().api().ajax.reload();
													}
												}
											}
										});
									});
								},
							//,
							"contentType": "application/x-www-form-urlencoded; charset=utf-8",
							"dataType": "json",
							"type": "POST",
							"cache": false,
							"error": function (resultado) {
								console.log(resultado);
								alert("DataTables warning: JSON data from server failed to load or be parsed. " +
									"This is most likely to be caused by a JSON formatting error.");
							},
						});
					},

					"aoColumns": [
						{ "title": "Código.", "bSortable": false, bVisible: true, "data": "RES_ID" },
						{ "title": "Nombre del técnico", "bSortable": false, bVisible: true, "data": "RES_Nombre" },
						{ "title": "Cargo", "bSortable": false, bVisible: true, "data": "CAR_Descripcion" },
                        { "title": "Nivel", "bSortable": false, bVisible: true, "data": "NIV_Descripcion" },
                        { "title": "Email", "bSortable": false, bVisible: true, "data": "RES_Email" },
                        { "title": "Acciones", "bSortable": false, bVisible: true, "data": "ltAcciones" }
					],
					"columnDefs": [

					]
				});
		}

        llenarTablaGrilla();
    })
</script>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <form role="form">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6">
                            <div class="form-group">
                                <label for="Buscar">Buscar Por (Nombre)</label>
                                <input type="text" class="form-control" id="RES_Nombre" name="RES_Nombre" placeholder="Buscar" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p><a href="@Url.Action("Nuevo", "Responsable")" class="btn btn-primary btn-md">Nuevo&nbsp;<span class="glyphicon glyphicon-plus"></span></a></p>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tblGrilla" class="table table-bordered" cellspacing="0" /></table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


